<div class="main-content">
    <div class ="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of offers -->
                <div *ngFor="let tempOffer of offers" class="col-md-3">
                <div class="product-box">
                    <img src="{{ tempOffer.imageUrl }}" class="img-responsive">
                    <h1>{{ tempOffer.name }}</h1>
                    <div class="participants">Number of students: {{tempOffer.participants}}</div>
                    <a href="#" class="primary-btn">Enroll</a>
                    </div>
                    </div>
                      <!-- if offers is empty display message-->
                      <div *ngIf="offers?.length==0" class="alert alert-warning col-md-12" role="alert">
                        No courses found.
                      </div>

                    </div>
            </div>
        </div>
    </div>
