<div class ="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <table class="table table-bordered">
                <tr>
                    <th width="20%">Course Image</th>
                    <th width="50%">Course Detail</th>
                    <th width="30%">Description</th>
                </tr>

                <tr *ngFor="let tempCartItem of cartItems">
                    <td>
                        <img src="{{ tempCartItem.imageUrl }}" class="img-responsive" width="150px" />
                    </td>
                    <td>
                        <p>Course: {{ tempCartItem.name }} </p>
                        <p>Professor name: {{ tempCartItem.professorName }} </p>
                        <p>Participants: {{ tempCartItem.participants }} </p>
                    </td>
                    <td>
                        <p>{{ tempCartItem.description }} </p>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>