<div class="main-content">
  <div class="'section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="courseFormGroup" (ngSubmit)="onSubmit()">
        <!-- student form group -->
        <div formGroupName="customer" class="form-area">
          <h3>Teacher</h3>

          <div class="row">
            <div class="col-md-2"><label>Course Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="courseName" type="text">

                <div *ngIf="courseName.invalid && (courseName.dirty || courseName.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="courseName.errors.required  || courseName.errors.notOnlyWhitespace">
                    Course Name is required
                  </div>

                  <div *ngIf="courseName.errors.minlength">
                    Course Name must be at least 2 characters long
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Professor Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="profName" type="text">

                <div *ngIf="profName.invalid && (profName.dirty || profName.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="profName.errors.required || profName.errors.notOnlyWhitespace">
                    Professor Name is required
                  </div>

                  <div *ngIf="profName.errors.minlength">
                    Professor Name must be at least 2 characters long
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Description</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="description" type="text">

                <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="description.errors.required">
                    Description is required
                  </div>


                </div>

              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-md-2"><label>Subject</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="subject">
                  <option>Computer_Science</option>
                  <option>Mathematics</option>
                  <option>Literature</option>
                  <option>History</option>
                  <option>Geography</option>
                </select>



              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Places available</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nr" type="text">

                <div *ngIf="nr.invalid && (description.dirty || description.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="nr.errors.required">
                    Description is required
                  </div>


                </div>

              </div>
            </div>
          </div>


        </div>

        <!-- submit button-->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>

      </form>

    </div>
  </div>
</div>


